<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <title>
            Page Doctors
        </title>
    </head>
    <body class="bg"> 
        <header>
            <div style="padding: 20px; display: flex; justify-content: space-between;">
                <h2 style="color: white;">Klinik Kelompok 3</h2>
                <a href="{{ url_for('home') }}" style="color: white; text-decoration: none;">Logout</a>
            </div>
        </header>

        <main>
            <div class="table-container">
                <h1 style="color: white; text-align: center;">Halo, Dr. {{ doctor['firstName'] }}</h1>
            
                <table class="center">
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>Jam</th>
                        <th>Nama Pasien</th>
                        <th>Ruangan</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appt in appointments %}
                    <tr>
                        <td>{{ appt['date'] }}</td>
                        <td>{{ appt['time'] }}</td>
                        <td>{{ appt['patientName'] }}</td>
                        <td>{{ appt['roomName'] }}</td>
                        <td>{{ appt['status'] }}</td>
                        <td>
                            <a href="#">Selesai</a> 
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6" style="text-align: center;">Tidak ada jadwal.</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </main>
    </body>
</html>